@* @model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h3>Banner Listesi</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Durum</th>
        <th>Oluşturulma Tarihi</th>
        <th>Güncelleme Tarihi</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var banner in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@banner.Title</td>
            <td>@banner.Description</td>
            <td> <img src="@banner.ImageUrl" style="width:200px" /> </td>
            <td>
                @if (banner.IsActive)
                {
                    <a href="/Admin/Banner/MakePassiveBanner/@banner.Id">
                        <span class="badge bg-success">Aktif</span>
                    </a>
                }
                else
                {
                    <a href="/Admin/Banner/MakeActiveBanner/@banner.Id">
                        <span class="badge bg-danger">Pasif</span>
                    </a>
                }
            </td>
            <td>@banner.CreatedDate</td>
            <td>@banner.UpdatedDate</td>
            <td>
                <a href="/Admin/Banner/DeleteBanner/@banner.Id" class="btn btn-outline-danger">Sil</a>
                <a href="/Admin/Banner/UpdateBanner/@banner.Id" class="btn btn-outline-secondary">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/Admin/Banner/CreateBanner" class="btn btn-outline-primary">Yeni Banner Oluştur</a>
 *@

@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h3>Öne Çıkan Alan</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>


    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" style="height:75px;width:75px;border-radius:50%" alt="Banner Görseli" />   @item.Title</td>
            <td>@item.Description</td>
            <td>@(item.IsActive ? "Aktif" : "Pasif")</td>
            <td>
                <a href="/Admin/Banner/DeleteBanner/@item.Id" class="btn btn-danger">Sil</a>
                <a href="/Admin/Banner/UpdateBanner/@item.Id" class="btn btn-info">Güncelle</a>
                @if (item.IsActive)
                {
                    <a href="/Admin/Banner/MakePassive/@item.Id" class="btn btn-secondary">Pasif Yap</a>
                }
                else
                {
                    <a href="/Admin/Banner/MakeActive/@item.Id" class="btn btn-success">Aktif Yap</a>
                }


            </td>
        </tr>
    }


</table>

<a href="/Admin/Banner/CreateBanner" class="btn btn-primary">Yeni Banner Oluştur</a>